body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.logo {
    display: flex;
    align-items: center;
}
.logo img {
    max-height: 50px;
}

.navbar-container{
    justify-content: space-between;
    margin-right: 2%;

    .account-dropdown-container {
        div {
            z-index: 2;
            transform: translateX(-40%);
        }
    }

}